extends ../layout

block head
    title Топ - WebHub
    style
        include style.css

block content
    //p TODO
    div(id='header_led')
        h1 Топ пользователей
        select
            option За неделю
            option За месяц
            option За год
    each leader in leaderboard
        div(class='leader')
            h1=leader.place_num
            img(
                src=leader.avatar
                style={border: leader.is_premium ? "solid 3px gold" : "solid 3px black"},
            )
            div
                h3=leader.login
                p=leader.status
            p=leader.score
    div(class='more')
        if page_prev
            a(href=page_prev) <<
        if page_next
            a(href=page_next) >>
    div(class='not_leader')
        h1=user.place_num
        img(
            src=user.avatar
            style={border: user.is_premium ? "solid 3px gold" : "solid 3px black"},
        )
        div
            h3=user.login
            p=user.status
        p=user.score