extends ../layout

block head
    title Топ - WebHub
    style
        include style.css

block content
    div(id='header_led')
        h1 Топ пользователей
        select
            option За всё время
    each leader, place_num in leaderboard
        a(href = leader.url)
            div.leader(class=user.is_authorised && (leader.id === user.id) && 'not_leader')
                h1= place_num + 1
                +user-avatar(leader, undefined, 100)
                div
                    h3=leader.login
                    p=leader.status
                p=leader.score
    div(class='more')
        if page_prev
            a(href=page_prev) <<
        if page_next
            a(href=page_next) >>
    if user.is_authorised
        div(class='not_leader')
            h1=user.place_num
            +user-avatar(user, undefined, 100)
            div
                h3=user.login
                p=user.status
            p=user.score