extends ../layout

block head
    title Форум - WebHub
    style
        include style.css

block content
    form(
        class="example"
        action="/forum"
        method="GET"
    )
        if user.is_authorised
            button(id="add")
                p(class="add") +
        else
            a(href="/login?redirect=/forum")
                p(class="add") +
        input(type="text" placeholder="Поиск темы" name="q" value=search_query)
        button(type="submit")
            p Поиск
    if user.is_authorised
        form(class="new_f")
            h1 Добавление нового обсуждения
            div
                div(class='lip')
                    label Тема обсуждения
                    input(type="text")
                    label Ваше сообщение
                    textarea
                    input(type="submit" id="spo_sub" value='Создать')
                div
                    img(src='/images/e9752157de38d306b4301b5b63d7af6e')
                    input(type="file" id="avatar" name="avatar" accept="image/png,image/jpeg")
                    label(for='avatar' id="avalabel") Изменить
    if themes.length > 0
        each theme, index in themes
            a(href=theme.url class="theme")
                div
                    img(src=theme.avatar)
                    div
                        p(style='font-weight: bolder;')=theme.title
                        p(style='color: #ccc')=theme.last_message
    else
        p Упс, ничего нет :(
    div(class='more')
        if 1 < page
            a(href=`/forum?q=${search_query}&page=${page - 1}`) <<
        if themes && themes.length > 0 && page < (max_page || 10)
            a(href=`/forum?q=${search_query}&page=${page + 1}`) >>