extends ../layout

block head
    title Форум - WebHub
    style
        include style.css

block content
    form(
        class="example"
        action="/forum"
        method="GET"
    )
        button(type="add" id='add') +
        input(type="text" placeholder="Поиск темы" name="q" value=search_query)
        button(type="submit")
            p Поиск
    each theme, index in themes
        a(href=theme.url class="theme")
            div
                img(src=theme.avatar)
                div
                    p(style='font-weight: bolder;')=theme.title
                    p(style='color: #ccc')=theme.last_message