extends ../layout

block head
    title Форум - WebHub
    style
        include style.css

block content
    form(class="new_f")
        h1 Добавление нового обсуждения
        div
            div(class='lip')
                label Тема обсуждения
                input(type="text")
                label Ваше сообщение
                input(type="textarea")
                input(type="submit" id="spo_sub" value='Изменить')
            div
                img(src='/avatars/ava16.png')
                button Загрузить...

    form(
        class="example"
        action="/forum"
        method="GET"
    )
        button(type="add" id='add') +
        input(type="text" placeholder="Поиск темы" name="q" value=search_query)
        button(type="submit")
            p Поиск
    each theme, index in themes
        a(href=theme.url class="theme")
            div
                img(src=theme.avatar)
                div
                    p(style='font-weight: bolder;')=theme.title
                    p(style='color: #ccc')=theme.last_message