extends ../layout

block head
    title Форум - WebHub
    style
        include style.css

block content
    p TODO
    form(
        class="example"
        action="action_page.php"
    )
        input(type="text" placeholder="Поиск темы" name="search")
        button(type="submit")
            i Поиск
    each theme in themes
        a(href=themes.url)
        div
            a(href='/')
                img(src=theme.avatar)
            div
                p #{theme.title}
                p #{theme.last_message}