extends ../layout

block head
    title Главная - WebHub
    style
        include style.css
    style
        include tiny-slider.css
    script
        include script.js
    script
        include tiny-slider.js

block content
    +slider(slider_items)
    div(class="three-big-thing")
        div(class="atvImg")
            div(
                class="atvImg-layer some-big-thing"
                style={
                    background: "linear-gradient(135deg, rgba(233,207,0,1) 0%, rgba(253,216,60,1) 100%)",
                    color: "#111"
                })
                h1 JS
                p JavaScript
        div(class="atvImg")
            div(
                class="atvImg-layer some-big-thing"
                style={
                    background: "linear-gradient(135deg, rgba(184,0,251,1) 0%, rgba(156,2,203,1) 100%)",
                    color: "#fff"
                })
                h1 C#
                p CSharp
        div(class="atvImg")
            div(
                class="atvImg-layer some-big-thing"
                style={
                    background: "linear-gradient(135deg, rgba(255,141,0,1) 0%, rgba(255,109,0,1) 100%)",
                    color: "#fff"
                })
                div
                    h3 #{count_online}
                    p онлайн
                div
                    h3 #{count_users}
                    p пользователей
                div
                    h3 #{count_lessons}
                    p уроков
    +make-comments(comment1, comment2, comment3)

mixin slider(items)
    div(class="slider2")
        each val in items
            div(class="slider2-element correct-item")
                img(src=val.img)
                div
                    p #{val.text}


mixin make-comments(comment1, comment2, comment3)
    div(class="three-comments")
        +make-comment(comment1)
        +make-comment(comment2)
        +make-comment(comment3)

//- "Улучшенные комментарии"
mixin make-comment(comment)
    div(class="atvImg")
        div(
            class="comm atvImg-layer"
            style={
                background: "#464646",
                height: "inherit",
                width: "inherit"
            }
        )
            div(class='cloud')
                p #{comment.text}
            div(class='userCom')
                div
                    img(src=comment.avatar)
                h1 #{comment.login}
                h3 #{comment.status}

//- Обычные комментарии, просто расскоменть вместо верхних
//- mixin make-comment(comment)
//-     div(class="comm")
//-         div(class='cloud')
//-             p #{comment.text}
//-         div(class='userCom')
//-             div
//-                 img(src=comment.avatar)
//-             h1 #{comment.login}
//-             h3 #{comment.status}