extends ../layout.pug
include ../share-mixins.pug

block head
    title Главная - WebHub
    style
        include style.css
    style
        include tiny-slider.css
    script
        include script.js
    script
        include tiny-slider.js

block content
    div(style="position: relative;margin: 0 -15px;")
        +slider(slider_items)
        div(style={
            "box-shadow": "inset 20px 0px 15px #202020,inset -20px 0px 15px #202020",
            position: "absolute",
            top: 0,
            left: 0,
            width: "100%",
            height: "100%",
            "pointer-events": "none"
        })
    div(class="three-big-thing")
        a(href="/courses/js")
            div(class="atvImg")
                div(
                    class="atvImg-layer some-big-thing"
                    style={
                        background: "linear-gradient(135deg, rgba(233,207,0,1) 0%, rgba(253,216,60,1) 100%)",
                        color: "#111"
                    })
                    h1 JS
                    p JavaScript
        a(href="/courses/cs")
            div(class="atvImg")
                div(
                    class="atvImg-layer some-big-thing"
                    style={
                        background: "linear-gradient(135deg, rgba(184,0,251,1) 0%, rgba(156,2,203,1) 100%)",
                        color: "#fff"
                    })
                    h1 C#
                    p CSharp
        a(href="/about")
            div(class="atvImg")
                div(
                    class="atvImg-layer some-big-thing"
                    style={
                        background: "linear-gradient(135deg, rgba(255,141,0,1) 0%, rgba(255,109,0,1) 100%)",
                        color: "#fff"
                    })
                    div
                        h3 #{count_online}
                        p онлайн
                    div
                        h3 #{count_users}
                        p пользователей
                    div
                        h3 #{count_lessons}
                        p уроков
    if comments.length >= 3
        +make-comments(comments[0], comments[1], comments[2])

mixin slider(items)
    div(class="slider2")
        each lesson in items
            +lesson(lesson.is_lock, lesson, false)

mixin make-comments(comment1, comment2, comment3)
    div(class="three-comments")
        +make-comment(comment1)
        +make-comment(comment2)
        +make-comment(comment3)

mixin make-comment(comment)
    div(class="comm")
        div(class='cloud')
            p #{comment.text}
        div(class='userCom')
            div(
                class='userAva'
                style={border: (comment.is_premium ? "2px solid #fdd835" : "2px solid #000")}
            )
                img(src=comment.avatar)
            div(class='userLog')
                h1 #{comment.login}
                h3 #{comment.status}