extends ../layout.pug
include ../share-mixins.pug

block head
    title= lang_title ? `Курсы по ${lang} - WebHub` : "Курсы - WebHub"
    style
        include style.css
    script
        include script.js
    style
        != `hr{background:${lang.background};}`

block content
    div(id="courses")
        if user.is_authorised
            - let allProgress = lang.themes.reduce((total, current) => total += current.lessons.reduce((total1, current1) => total1 += current1.progress, 0) / (current.lessons.length || 1), 0) / lang.themes.length;
            div(style={
                width: "100%",
                height: "40px",
                position: "relative",
                "border-radius": "8px",
                overflow: "hidden",
                margin: "15px 0"
            })
                +progress-bar(allProgress, allProgress >= 1 ? "#23B45D" : "#ff7700", 40)
                p(style={
                    position: "absolute",
                    "margin-top": "10px",
                    bottom: 0,
                    left: 0,
                    top: 0,
                    right: 0,
                    "text-align": "center",
                    color: "#eee"
                }) Общий прогресс: #{Math.roundN(allProgress * 100)}%
        //- -
        //-     let hrStyle;
        //-     switch (lang) {
        //-     case "cs": hrStyle = {background: "linear-gradient(135deg,#b800fb 0%,#9c02cb 100%)"}; break
        //-     case "js": hrStyle = {background: "linear-gradient(135deg,#e9cf00 0%,#fdd83c 100%)"}; break;
        //-     case "php": hrStyle = {background: "linear-gradient(135deg,#4a8ddf 0%,#1d399f 100%)"}; break;
        //-     default: hrStyle = {background: "linear-gradient(135deg,#ff8d00 0%,#ff6d00 100%)"}; break;
        //-     }
        each theme,index in lang.themes
            hr
            - let themeProgress = theme.lessons.reduce((total, current) => total += current.progress, 0) / (theme.lessons.length || 1);
            ul(id=`part${index + 1}`)
                div(class="theme")
                    div(onclick="extendedLessonClick(this)" class=(theme.is_lock && "disabled"))
                        img(src=((!user.is_authorised || !theme.is_lock) ? theme.avatar : "/lock.png") width="200px" height="200px")
                        li #{theme.title}
                        if user.is_authorised && !theme.is_lock
                            +progress-bar(themeProgress, (themeProgress >= 1) ? "#23B45D" : "#F3EB0C")
                    a(
                        href=(theme.is_complete && theme.exam_url)
                        class=(!theme.is_complete && "disabled")
                        style={background: (theme.is_complete ? (theme.is_exam_complete ? "#23B45D" : "#ff7700") : "#8D8D8D")}
                    ) Экзамен
                ul
                    - let is_long_array = theme.lessons.length > 6;
                    - let short_lessons = is_long_array ? theme.lessons.slice(0, 5) : theme.lessons;
                    - let extended_lessons = is_long_array ? theme.lessons.slice(5) : [];
                    each lesson in short_lessons
                        +lesson(theme.is_lock, lesson, false)
                    if(is_long_array)
                        each lesson in extended_lessons
                            +lesson(theme.is_lock, lesson, true)
                        div(class="lNext" onclick="extendedLessonClick(this)")
                            li >
        hr