extends ../layout

block head
    title #{lesson.lesson_title} - WebHub
    link(rel="stylesheet" href="/markdown.css")
    link(rel="stylesheet" href="/vs2015.css")
    style
        include style.css
    style.
        .comment_status {
            color: inherit;
            margin: 10px;
            padding: 15px;
            border-radius: 8px;
            text-align: center;
            max-width: 1500px;
        }

block content
    h1
        a(href=lesson.lang_url)= lesson.lang_title
        a=" / "
        a(href=lesson.theme_url)= lesson.theme_title
        a=" / "
        a=lesson.lesson_title
    div(class="markdown-body")
        !=markdown
    if user.is_authorised && lesson.is_available
        if lesson.progress >= 1
            a(id="complete_lesson")
                p(style={background: "#23B45D"}) Урок пройден
        else
            a(id="complete_lesson" href=`/lessons/${lesson.lesson_id}/complete`)
                p Завершить урок
    else
        a(id="complete_lesson")
            p(style={background: "#8D8D8D"}) Прохождение недоступно
    if lesson.prev_lesson_id || lesson.next_lesson_id
        div(class='more')
            if lesson.prev_lesson_id
                a(href=`/lessons/${lesson.prev_lesson_id}`) << Назад
            if lesson.next_lesson_id
                a(href=`/lessons/${lesson.next_lesson_id}`) Пропустить >>
    if comment_status
        p(class="comment_status" style={"background-color": comment_ok ? "#183b7b" : "#7b2b18"})=comment_status
    form(class="example" method="get")
        input(type='text' name="comment_text" placeholder='Ваш комментарий')
        input(type='submit' value='Отправить')
    if (comments && comments.length > 0)
        each comment in comments
            a(id=`comment_${comment.id}` href=comment.user_url class='commen')
                - let backColor = comment.is_premium ? "gold" : "black";
                +user-avatar(comment, "comment-avatar", 100)
                h1=comment.login
                h2=comment.status
                i=comment.create_time.formatDate()
                p=comment.text
    else
        p Напишите первый комментарий!