extends ../layout

block head
    title #{lesson.title} - WebHub

block content
    h1 #{lang.lang_title} > #{course.title} > #{lesson.title}
    pre.
        Язык: #{lang_id}
        id курса: #{id_course}
        id урока: #{id_lesson}