extends ../layout

block head
    title #{lesson.lesson_title} - WebHub
    style.
        .note {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            margin: 16px 0;
            padding: 16px;
            border-left: 6px solid;
        }

        .content-body {
            max-width: 1200px !important;
            padding: 0 !important;
        }

        .markdown-body {
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 10px;
            background: #353534;
            text-align: justify;
        }

        .note p {
            margin: 0;
        }

        .note-danger {
            background-color: #ffdddd;
            border-left-color: #f44336;
        }

        .note-good {
            background-color: #dfd;
            border-left-color: #4caf50;
        }

        .note-info {
            background-color: #e7f3fe;
            border-left-color: #2196F3;
        }

        .note-warn {
            background-color: #fff59d;
            border-left-color: #ffc107;
        }

        details {
            display: block;
            border: 1px solid silver;
            border-radius: 4px;
            padding: 0.5em;
            background-color: #f9f9f9;
        }

        details summary {
            display: list-item;
            margin: -0.5em;
            padding: 12px;
            outline-style: none;
        }

        details[open] > summary {
            margin-bottom: 0.5em;
            border-bottom: 1px solid silver;
        }

        iframe {
            display: block;
            width: 100%;
            height: 300px;
            border-radius: 10px;
        }

        .more {
            display: block;
            margin: 20px auto;
            text-align: center;
        }

        .more > a {
            text-decoration: none;
            color: #e2e2e2;
            font-size: xx-large;
            font-weight: bold;
            padding: 3px 20px 2px;
            margin: 0 5px;
            border-radius: 15px;
            border: none;
            background-color: #353534;
        }

        .more > a:active {
            background-color: #666;
        }

        h1 > a {
            text-decoration: none;
            color: inherit;
        }

        h1 > a[href]:hover {
            text-decoration: underline;
        }
    style
        include github-markdown.css
    style
        include vs2015.css
    style
        include style.css

block content
    h1
        a(href=lesson.lang_url)= lesson.lang_title
        a=" / "
        a(href=lesson.theme_url)= lesson.theme_title
        a=" / "
        a=lesson.lesson_title
    div(class="markdown-body")
        !=markdown
    div(class='more')
        if lesson_prev
            a(href=lesson_prev) Назад
        if lesson_next
            a(href=lesson_next) Вперед
    form(class="example")
        input(type='text' placeholder='Напиши коммент')
        input(type='button' value='Отправить')
    each comment in comments
        a(href=comment.user_url class='commen')
            - let backColor = comment.is_premium ? "gold" : "black";
            div
                img(
                    src = comment.avatar
                    style = {
                        border: `solid 4px ${backColor}`,
                        "background-color": backColor
                    },
                )
                div(style = {
                    display: comment.is_online ? "block" : "none"
                }) Online
            h1=comment.login
            h2=comment.status
            i=comment.create_time.formatDate()
            p=comment.text