extends ../layout

block head
    title Уведомления - WebHub
    style
        include style.css

block content
    - notifications.forEach(v => v.text = v.text.replace(/\n/g,"<br>"));

    // Если уведомления нужны в обратном порядке, раскомментить эту строчку
    // - notifications = notifications.reverse();

    // Список только прочитанных уведомлений
    - let only_readed = notifications.filter(v => v.is_read);

    // Список только НЕ прочитанных уведомлений
    - let only_not_readed = notifications.filter(v => !v.is_read);

    if (notifications && notifications.length > 0)
        p=`Всего: ${notifications.length}, новых: ${only_not_readed.length}, прочитанных: ${only_readed.length}`
        each notification, index in notifications
            a(href=notification.action_url class="notification")
                div(class=notification.is_read ? "" : "unread")
                    h1=notification.title
                    p!=notification.text
                    i=notification.create_time.formatDate()
    else
        p Упс, ничего нет :(

    div(class='more')
        if 1 < page
            a(href=`/forum?q=${search_query}&page=${page - 1}`) <<
        if themes && (themes.length >= 15 || page > 1)
            a=page
        if themes && themes.length >= 15 && page < (max_page || 10)
            a(href=`/forum?q=${search_query}&page=${page + 1}`) >>