extends ../layout.pug
include ../share-mixins.pug

block head
    title= lang_title ? `Курсы по ${lang} - WebHub` : "Курсы - WebHub"
    style
        include style.css
    script
        include script.js

block content
    div(id="language-vertical")
        a(href="/courses?lang=cs" id='up_lan')
            p(class=(lang === "cs")
                style={
                    background: lang === "cs" && "linear-gradient(135deg, rgba(184,0,251,1) 0%, rgba(156,2,203,1) 100%)",
                    "border-top-left-radius": "8px",
                    "border-top-right-radius": "8px"
                })
                img(src='logo-cs.png')
        a(href="/courses?lang=js")
            p(class=(lang === "js")
                style={
                    background: lang === "js" && "linear-gradient(135deg, rgba(233,207,0,1) 0%, rgba(253,216,60,1) 100%)"
                })
                img(src='logo-js.png')
        a(href="/courses?lang=php" id='down_lan')
            p(class=(lang === "php")
                style={
                    background: lang === "php" && "linear-gradient(135deg, #0070fb 0%, #022dcb 100%)",
                    "border-bottom-left-radius": "8px",
                    "border-bottom-right-radius": "8px"
                })
                img(src='logo-php.png')
    if themes
        div(id="courses")
            if user.is_authorised
                - let allProgress = themes.reduce((total, current) => total += current.lessons.reduce((total1, current1) => total1 += current1.progress, 0) / (current.lessons.length || 1), 0) / themes.length;
                div(style={
                    width: "100%",
                    height: "40px",
                    position: "relative",
                    "border-radius": "8px",
                    overflow: "hidden",
                    margin: "15px 0"
                })
                    +progress-bar(allProgress, allProgress >= 1 ? "#23B45D" : "#ff7700", 40)
                    p(style={
                        position: "absolute",
                        bottom: 0,
                        left: 0,
                        top: 0,
                        right: 0,
                        "text-align": "center",
                        color: "#eee"
                    }) Общий прогресс: #{Math.roundN(allProgress * 100)}%
            hr
            each theme in themes
                - let themeProgress = theme.lessons.reduce((total, current) => total += current.progress, 0) / (theme.lessons.length || 1);
                ul
                    div(class="theme")
                        div(onclick="extendedLessonClick(this)" class=(theme.is_lock && "disabled"))
                            img(src=((!user.is_authorised || !theme.is_lock) ? theme.avatar : "/lock.png") width="200px" height="200px")
                            li #{theme.title}
                            if user.is_authorised && !theme.is_lock
                                +progress-bar(themeProgress, (themeProgress >= 1) ? "#23B45D" : "#F3EB0C")
                        a(
                            href=(theme.is_complete && theme.exam_url)
                            class=(!theme.is_complete && "disabled")
                            style={background: (theme.is_complete ? (theme.is_exam_complete ? "#23B45D" : "#ff7700") : "#8D8D8D")}
                        ) Экзамен
                    ul
                        - let is_long_array = theme.lessons.length > 6;
                        - let short_lessons = is_long_array ? theme.lessons.slice(0, 5) : theme.lessons;
                        - let extended_lessons = is_long_array ? theme.lessons.slice(5) : [];
                        each lesson in short_lessons
                            +lesson(theme.is_lock, lesson, false)
                        if(is_long_array)
                            each lesson in extended_lessons
                                +lesson(theme.is_lock, lesson, true)
                            div(class="lNext" onclick="extendedLessonClick(this)")
                                li >
                hr