extends ../layout.pug
include ../share-mixins.pug

block head
    title= "Курсы - WebHub"
    style
        include style.css
    style
        each lang in langs
            !=`#lang-${lang.lang_id}:hover{background:${lang.background};}`

block content
    div(id="language")
        each lang in langs
            a(href=`/courses/${lang.lang_id}`)
                div(id=`lang-${lang.lang_id}`)
                    img(src=`/logo-${lang.lang_id}.png`)
                    h1=lang.title
                    if user.is_authorised
                        +progress-bar(lang.progress, (lang.progress >= 1) ? "#23B45D" : "#F3EB0C", 10)