extends ../layout

block head
    title Курсы - WebHub
    style
        include style.css

block content
    p TODO
    ul
        each theme in themes
            li #{theme.title} (#{theme.is_lock ? "закрыто" : (theme.is_complete ? (theme.is_exam_complete ? "пройдено" : "сдай экзамен") : (theme.progress * 100) + "%")})
            img(src=theme.avatar width="200px" height="200px")
            ul
                each lesson in theme.lessons
                    li #{lesson.title} (#{theme.is_lock ? "закрыто" : (lesson.is_complete ? "пройдено" : (lesson.progress * 100) + "%")})
                    img(src=lesson.avatar width="100px" height="100px")