extends ../layout.pug
include ../share-mixins.pug

block head
    title= "Курсы - WebHub"
    style
        include style.css
    style
        each lang in langs
            !=`#lang-${lang.id}:hover{background:${lang.background};}`

block content
    if user.is_authorised
        - let progress = langs.reduce((prev, now) => now.progress + prev, 0) / langs.length;
        div.div_prog
            +progress-bar(Math.roundN(progress, 4), progress >= 1 ? "#23B45D" : "#ff7700", 40)
            p Общий прогресс: #{Math.roundN(progress * 100)}%
    div#language
        each lang in langs
            a(href=`/courses/${lang.id}`)
                div(id=`lang-${lang.id}`)
                    img(src=lang.avatar loading="lazy")
                    h1=lang.title
                    if user.is_authorised
                        +progress-bar(lang.progress, (lang.progress >= 1) ? "#23B45D" : "#F3EB0C", 10)
