footer
    div(id="fa1")
    img(
        src='/logo2.png'
        width="42.7px"
        height="35px"
    )
    h2
        a(href='/about') О нас
    p Copyright © 2019-2020
    div
        a(href='#')
            img(
                src='/vk.png'
                width="32px"
            )
        a(href='#')
            img(
                src='/tw.png'
                width="32px"
            )
        a(href='#')
            img(
                src='/ok.png'
                width="32px"
            )