footer
    img(
        src='/index/logo.png'
        width="61px"
        height="50px"
    )
    a(href='#' style='text-decoration:none; color:white') О нас
    p(style='color:white;') Copyright © 2019-2020 Powered by Donat
    div
        img(
            src='/index/vk.png'
            width="32px"
        )
        img(
            src='/index/tv.png'
            width="32px"
        )
        img(
            src='/index/ok.png'
            width="32px"
        )