footer(style={
    width: "100%",
    "background-color": "#494949",
    position: "relative",
    float: "bottom",
    "text-align": "center",
    display: "inline-block"
})
    img(
        src='/logo2.png'
        width="42.7px"
        height="35px"
        style={
            margin: "20px",
            float: "left"
        }
    )
    h2(style={
        "margin": "0",
        "margin-top": "22px",
        float: "left",
        "text-align": "left"
    })
        a(href='#' style={
            "text-decoration": "none",
            color: "white"
        }) О нас
    p(style={
        color: "white",
        "margin-top": "28px",
        display: "inline-block"
    }) Copyright © 2019-2020 Powered by Donat
    div(style={
        margin: "22px 20px 18px 20px",
        float: "right"
    })
        a(
            href='#'
        )
            img(
                src='/vk.png'
                width="32px"
            )
        a(
            href='#'
        )
            img(
                src='/tv.png'
                width="32px"
            )
        a(
            href='#'
        )
            img(
                src='/ok.png'
                width="32px"
            )