- const backgroud = "/slider.jpg";//Math.randomizeArray(["/slider.jpg", "/udishka.png", "/vasyan.jpeg"]);
header(
    style={
        background: "url(" + backgroud + ") no-repeat",
        "background-color": "#494949",
        display: "flow-root",
        "background-size": "100%",
        "min-height": (is_big_topnav || false) ? "400px" : "0",
        "background-repeat-y": "repeat",
        position: "relative",
        "box-shadow": is_big_topnav ? "inset 0 70px 20px #0005" : "inset 0 1000px 0px #0005"
    })
    if (is_big_topnav || false)
        div(style={
            position: "absolute",
            bottom: "0px",
            background: "rgba(7, 7, 7, 0.75)",
            color: "white",
            width: "100%"
        })
            p(style={"text-align": "center"}) Большая шапка!

    a(href='/')
        img(
            class="hover-logo"
            src="/logo.png"
            width="46px"
            height="46px"
        )
    a(href=((current_page === "user" && user_page && user_page.id === user.user_id) || current_page === "login" ? undefined : (user.is_authorised ? `/user/${user.user_id}` : `/login?redirect=${current_url}`)))
        - let backColor = user.is_premium ? "#fdd835" : "#000";
        img(
            class=((current_page === "user" && user_page && user_page.id === user.user_id) || current_page === "login" ? undefined : "hover-logo")
            src=user.avatar
            style={
                "border-radius": "50%",
                margin: "10px",
                float: "right",
                border: `2px solid ${backColor}`,
                "background-color": backColor
            }
            width="44px"
            height="44px"
        )
    if user.is_authorised
        div(style={
            float: "right",
            margin: "10px"
        })
            img(src="/plus.png"
                height="46px"
                width="46px"
            )
            p(style={
                float: "right",
                margin: "0px",
                color: "#eee",
                display: "inline-block",
                color: "#f2f2f2",
                "text-align": "center",
                padding: "10px",
                "text-decoration": "none",
                "font-size": "22px"
            }) $ #{user.coins}
    ul(class="topnav" id="myTopnav")
        li
            a(class=current_page === "courses" ? "active" : "" href="/courses") Курсы
        li
            a(class=current_page === "sandbox" ? "active" : "" href="/sandbox") Песочница
        li
            a(class=current_page === "forum" ? "active" : "" href="/forum") Форум
        if user.is_authorised
            li
                a(class=current_page === "play" ? "active" : "" href="/play") Играть
            li
                a(class=current_page === "leaderboard" ? "active" : "" href="/leaderboard") Топ
            li
                a(class=current_page === "notifications" ? "active" : "" href="/notifications")=user.notifications_unread_count > 0 ? `Увд: ${user.notifications_unread_count}` : "Уведомления"
if !user.is_authorised && current_page !== "login"
    p(class="auth-warning")
        a(href=`/login?is_reg=true&redirect=${current_url}`) Зарегистрируйтесь
        = " или "
        a(href=`/login?is_reg=false&redirect=${current_url}`) авторизируйтесь
        = ", пожалуйста"
style.
    .auth-warning > a {
        color: inherit;
    }

    .auth-warning {
        color: inherit;
        background: #183b7b;
        margin: 10px auto;
        padding: 15px;
        border-radius: 8px;
        border-color: #2860c8;
        text-align: center;
        max-width: 1500px;
    }

    .hover-logo {
        transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
        margin: 10px;
        float: left;
    }

    .hover-logo:hover {
        filter: drop-shadow(0px 0px 5px #222);
        transform: scale(1.1, 1.1)
    }

    .topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .topnav > li > a {
        float: left;
        display: inline-block;
        color: #ddd;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        font-size: 32px;
    }

    .topnav > li > .active {
        text-decoration: underline;
    }

    .topnav > li > a:hover {
        color: #fff;
    }