mixin lesson(is_lock, lesson, is_extended)
    a(href=(user.is_authorised ? (!is_lock && `/lessons/${lesson.id}`) : `/login?redirect=/lessons/${lesson.id}`) class=(is_extended && "extended-lesson"))
        div(class="lessor" class=((!user.is_authorised || is_lock) && "disabled"))
            img(src=lesson.avatar width="100px" height="100px")
            //- img(src=(!user.is_authorised || !is_lock) ? lesson.avatar : "/lock.png" width="100px" height="100px")
            li #{lesson.title}
            if (user.is_authorised && !is_lock)
                +progress-bar(lesson.progress, lesson.progress >= 1 ? "#23B45D" : "#F3EB0C", 10)

mixin progress-bar(percent, color, height)
    if percent < 1
        div(
            class="progress-bar"
            style={height: (height || 15) + "px"}
        )
            div(style={
                width: (percent * 100) + "%",
                background: color
            })
    else
        div(
            class="progress-bar"
            style={
                height: (height || 15) + "px",
                background: color
            }
        )