extends ../layout

block head
    title Авторизация - WebHub
    style
        include style.css
block content
    if auth_error
        p(style={
            background: "#7b2b18",
            margin: "10px auto",
            padding: "15px",
            "border-radius": "8px",
            "border-color": "#bb4325",
            "text-align": "center",
            "max-width": "1500px"
        })=auth_error
    div(id='buttons')
        button(class="tablink" class=is_reg ? undefined : "auto_click" onclick="openCity('auto_tab','reg_but','auto_but')" id="auto_but") Авторизация
        button(class="tablink" class=is_reg ? "auto_click" : undefined onclick="openCity('reg_tab','auto_but','reg_but')" id="reg_but") Регистрация
    div(id="auto_tab" class="tabcontent")
        form(method="post" enctype="multipart/form-data")
            input(type="hidden" name="redirect" value=redirect)
            input(type="hidden" name="is_reg" value="false")
            label(for="email") E-mail
            input(type="email" id="email" name="email" value=values.email placeholder="Ваш e-mail")
            label(for="password") Пароль
            input(type='password' id="password" name="password" value=values.password placeholder="Ваш пароль")
            input(type="submit" id="inside" value='Войти')
    div(id="reg_tab" class="tabcontent")
        form(method="post" enctype="multipart/form-data")
            div
                input(type="hidden" name="redirect" value=redirect)
                input(type="hidden" name="is_reg" value="true")
                label(for="login") Логин
                input(type="text" id="login" name="login" placeholder="Ваш логин" value=values.login)
                label(for="password2") Пароль
                input(type="password" id="password2" name="password" placeholder="Ваш пароль" value=values.password)
                label(for="email2") E-mail
                input(type="email" id="email2" name="email" placeholder="Ваш e-mail" value=values.email)
                label(for="status") Статус
                div.tooltip
                    input(type="text" id="status" name="status" placeholder="Ваш статус" value=values.status)
                    span.tooltiptext Статус – это короткая фраза, устанавливаемая рядом с ником (именем) и отражающая текущее состояние пользователя.
                input(type="submit" id="spo_sub" value='Регистрация')
            div
                h1 Аватар
                img(id="avatar-preview" src='/images/e9752157de38d306b4301b5b63d7af6e')
                input(type="file" id="avatar" name="avatar" accept="image/png,image/jpeg" onchange="updateAvatar(this)")
                label(for='avatar' id="avalabel") Загрузить
        p(style="margin: 0 15px 15px 15px; text-align: center;")
            | Авторизируясь на сайте Вы принимаете наши
            |
            a(href="/terms#user") Пользовательское соглашение
            |
            | и
            |
            a(href="/terms#privacy") Политику конфиденциальности
    script
        include script.js

