extends ../layout
include ../share-mixins.pug

block head
    - let lang1 = {progress:1};
    - let lang2 = {progress:0.8};
    - let lang3 = {progress:0};
    title Личная страница - WebHub
    style
        include style.css
block content
    //p TODO
    div(id="first_block")
        div
            img(
                src=user.avatar
                style={border: user.is_premium ? "solid 4px gold" : "solid 4px black"},
            )
            a(href='#')
                i Выйти
        div
            h1=user.login
            h2=user.status
            h3 E-mail: #{user.email}
        div(id="f_b_grid")
            div(id='top_place')
                p Место в топе:
                    h1=user.place_num
            div
                p Баланс: #{user.coins}$
                    a(href="#")
                        img(src='/plus.png')
                a(href="#") Купить
                    b Premium
    if user.is_authorised
        div(class='div_prog')
            +progress-bar((lang1.progress + lang2.progress + lang3.progress) / 3, (lang1.progress + lang2.progress + lang3.progress) / 3 >= 1 ? "#23B45D" : "#ff7700", 40)
            p(style={}) Общий прогресс: #{Math.roundN(((lang1.progress + lang2.progress + lang3.progress) / 3) * 100)}%
    div(id="pro_cur")
        each lang in langs
            div
                img(src=lang.avatar)
                div(class='cur_text')
                    h1=lang.title
                    p Пройдено на #{Math.round(lang.progress * 100)}%
                +progress-bar(lang.progress, (lang.progress >= 1) ? "#23B45D" : "#F3EB0C")
    details
        summary Настройки аккаунта
        hr
        div
            form(
                action="/user"
                method="GET"
            )
                label Логин
                input(type="text" placeholder=user.login)
                label Статус
                input(type="text" placeholder=user.status)
                label E-mail
                input(type="email" placeholder=user.email)
                input(type="submit" id="spo_sub" value='Изменить')
            div
                img(src=user.avatar)
                button Загрузить...
    div(id='certificates')
        each certificate in certificates
            div(class='certificate')
                img(src=certificate)
