extends ../layout
include ../share-mixins.pug

block head
    title Личная страница - WebHub
    style
        include style.css
    script(src="/card3d.js")
    link(rel="stylesheet" href="/card3d.css")
block content
    //p TODO
    div(id="first_block")
        div
            img(
                src=user.avatar
                style={border: user.is_premium ? "solid 4px gold" : "solid 4px black"},
            )
            a(href='/logout')
                i Выйти
        div
            h1=user.login
            h2=user.status
            h3 E-mail: #{user.email}
        div(id="f_b_grid")
            div(id='top_place')
                p Место в топе:
                    h1=user.place_num
            div
                p Баланс: #{user.coins}$
                    a(href="#")
                        img(src='/plus.png')
                a(href="#") Купить
                    b Premium
    details
        summary Настройки аккаунта
        hr
        div
            form(
                action="/user"
                method="GET"
            )
                label Логин
                input(type="text" placeholder=user.login)
                label Статус
                input(type="text" placeholder=user.status)
                label E-mail
                input(type="email" placeholder=user.email)
                input(type="submit" id="spo_sub" value='Изменить')
            div
                img(src=user.avatar)
                button Загрузить

    - let progress = langs.reduce((prev, now) => now.progress + prev, 0) / langs.length;
        div(class='div_prog')
            +progress-bar(progress, progress >= 1 ? "#23B45D" : "#ff7700", 40)
            p Общий прогресс: #{Math.roundN(progress * 100)}%
        div(id="pro_cur")
            each lang in langs
                div
                    img(src=lang.avatar)
                    div(class='cur_text')
                        h1=lang.title
                        p Пройдено на #{Math.round(lang.progress * 100)}%
                    +progress-bar(lang.progress, (lang.progress >= 1) ? "#23B45D" : "#F3EB0C")

    div(id='certificates')
        each certificate in certificates
            div(class='certificate atvImg')
                img(src=certificate class="atvImg-layer")
