extends ../layout
include ../share-mixins.pug

block head
    title= user_page ? `Профиль ${user_page.login} - WebHub` : "Профиль - WebHub"
    style
        include style.css
block content
    if error_msg
        p.auth-warning(
            style={
                background: "#7b2b18",
                "border-color": "#bb4325"
            })=error_msg
    else
        #first_block
            +user-avatar(user_page, undefined, 180)
            div
                h1=user_page.login
                h2=user_page.status
                if user_page.id === user.user_id
                    h3 E-mail: #{user_page.email}
                if user_page.is_premium && (user_page.id === user.user_id || user.is_admin)
                    h3 Премиум до: #{user.premium_expire.toDateString()}
                if user_page.is_admin
                    h3 Администратор
            #f_b_grid
                div(id='top_place')
                    p Место в топе:
                        h1=user_page.place_num
                    h3 Рейтинг: #{user_page.score}
                div
                    if user_page.id === user.user_id
                        p Баланс: $ #{user.coins}
                            a(href="#")
                                img(src='/plus.png')
                        a(href="#") Купить
                            b Premium
                    else
                        a(href="#") Подарить
                            b Premium
            if user_page && user_page.id === user.user_id
                a(href='/logout')
                    i Выйти
        if user_page.id === user.user_id || user.is_admin
            details(open=!!error_settings_msg)
                summary Настройки аккаунта
                hr
                if user_page.id !== user.user_id
                    p.auth-warning(
                        style={
                            background: "#183b7b",
                            margin: "10px",
                            "border-color": "#2860c8"
                        }) Вы редактируйте чужой аккаунт
                if error_settings_msg
                    p.auth-warning(
                        style={
                            background: "#7b2b18",
                            margin: "10px",
                            "border-color": "#bb4325"
                        })=error_settings_msg
                div
                    form(
                        action="/user"
                        method="GET"
                    )
                        if user_page.login
                            label(for="login") Логин
                            input(type="text" id="login" name="login" placeholder="*не менять*" value=user_page.login)

                        label(for="password2") Пароль
                        input(type="password" id="password2" name="password" placeholder="*не менять*")
                        if user_page.email
                            label(for="email2") E-mail
                            input(type="email" id="email2" name="email" placeholder="*не менять*" value=user_page.email)
                        if user_page.status
                            label(for="status") Статус
                            input(type="text" id="status" name="status" placeholder="*не менять*" value=user_page.status)
                        input(type="number" name="user_id" value=user_page.id hidden)
                        input(type="submit" id="spo_sub" value='Сохранить')
                    div
                        img(src=user_page.avatar)
                        button Изменить

        div#certificates
            each certificate in certificates
                div.certificate.cover.atvImg(id=`certificate-${certificate.id}`)
                    img.atvImg-layer.atvImg-rendered-layer(src=certificate.image)
                    div.atvImg-layer.atvImg-rendered-layer.certificate-text
                        div
                            h1 Сертификат
                            p Выдан пользователю
                            h3=user_page.login
                            if certificate.reason
                                p за
                                h3=certificate.reason
                            if certificate.create_date
                                pre=certificate.create_date.formatDate()
            script(src="/card3d.js")
            link(rel="stylesheet" href="/card3d.css")

        - let progress = langs.reduce((prev, now) => now.progress + prev, 0) / langs.length;
        div.div_prog
            +progress-bar(Math.roundN(progress, 4), progress >= 1 ? "#23B45D" : "#ff7700", 40)
            p Общий прогресс: #{Math.roundN(progress * 100)}%
        div#pro_cur
            each lang in langs
                a(href=lang.url)
                    div
                        img(src=lang.avatar)
                        div.cur_text
                            h1=lang.title
                            p Пройдено на #{Math.round(lang.progress * 100)}%
                        +progress-bar(Math.roundN(lang.progress), (lang.progress >= 1) ? "#23B45D" : "#F3EB0C", 10)