extends ../layout
include ../share-mixins.pug

block head
    title= user_page ? `Профиль ${user_page.login} - WebHub` : "Профиль - WebHub"
    style
        include style.css
    script(src="/card3d.js")
    link(rel="stylesheet" href="/card3d.css")
block content
    if error_msg
        p(
            class="auth-warning"
            style={
                background: "#7b2b18",
                "border-color": "#bb4325"
            })=error_msg
    else
        div(id="first_block")
            div(style={position: "relative"})
                - let backColor = user_page.is_premium ? "gold" : "black";
                img(
                    src = user_page.avatar
                    style = {
                        border: `solid 4px ${backColor}`,
                        "background-color": backColor
                    }
                )
                if user_page.is_online
                    div(class="online_status")
                if user_page && user_page.id === user.user_id
                    a(href='/logout')
                        i Выйти
            div
                h1=user_page.login
                h2=user_page.status
                if user_page.id === user.user_id
                    h3 E-mail: #{user.email}
                    if user.is_premium
                        h3 Премиум до: #{user.premium_expire.toDateString()}
            div(id="f_b_grid")
                div(id='top_place')
                    p Место в топе:
                        h1=user_page.place_num
                    h3 Рейтинг: #{user_page.score}
                div
                    if user_page.id === user.user_id
                        p Баланс: $ #{user.coins}
                            a(href="#")
                                img(src='/plus.png')
                        a(href="#") Купить
                            b Premium
                    else
                        a(href="#") Подарить
                            b Premium
        if user_page.id === user.user_id
            details(open=!!error_settings_msg)
                summary Настройки аккаунта
                hr
                if error_settings_msg
                    p(
                        class="auth-warning"
                        style={
                            background: "#7b2b18",
                            margin: "10px",
                            "border-color": "#bb4325"
                        })=error_settings_msg
                div
                    form(
                        action="/user"
                        method="GET"
                    )
                        label(for="login") Логин
                        input(type="text" id="login" name="login" placeholder="*не менять*" value=user.login)
                        label(for="password2") Пароль
                        input(type="password" id="password2" name="password" placeholder="*не менять*")
                        label(for="email2") E-mail
                        input(type="email" id="email2" name="email" placeholder="*не менять*" value=user.email)
                        label(for="status") Статус
                        input(type="text" id="status" name="status" placeholder="*не менять*" value=user.status)
                        input(type="submit" id="spo_sub" value='Сохранить')
                    div
                        img(src=user.avatar)
                        button Изменить

        - let progress = langs.reduce((prev, now) => now.progress + prev, 0) / langs.length;
            div(class='div_prog')
                +progress-bar(Math.roundN(progress, 4), progress >= 1 ? "#23B45D" : "#ff7700", 40)
                p Общий прогресс: #{Math.roundN(progress * 100)}%
            div(id="pro_cur")
                each lang in langs
                    a(href=lang.url)
                        div
                            img(src=lang.avatar)
                            div(class='cur_text')
                                h1=lang.title
                                p Пройдено на #{Math.round(lang.progress * 100)}%
                            +progress-bar(Math.roundN(lang.progress), (lang.progress >= 1) ? "#23B45D" : "#F3EB0C", 10)

        div(id='certificates')
            each certificate in certificates
                div(class='certificate atvImg')
                    img(src=certificate class="atvImg-layer")