extends ../layout
include ../share-mixins.pug

block head
    title Личная страница - WebHub
    style
        include style.css
block content
    //p TODO
    div(id="first_block")
        div
            img(
                src=user.avatar
                style={border: user.is_premium ? "solid 4px gold" : "solid 4px black"},
            )
            a(href='#')
                i Выйти
        div
            h1=user.login
            h2=user.status
            h3 E-mail: #{user.email}
        div(id="f_b_grid")
            div(id='top_place')
                p Место в топе:
                    h1=user.place_num
            div
                p Баланс: #{user.coins}$
                    a(href="#")
                        img(src='/plus.png')
                a(href="#") Купить
                    b Premium
    if user.is_authorised
        div(class='div_prog')
            +progress-bar(0.5, 0.5 >= 1 ? "#23B45D" : "#ff7700", 40)
            p(style={}) Общий прогресс: #{Math.roundN(0.5 * 100)}%
    div(id="pro_cur")
        div
            img(src='/logo-cs.png')
            div(class='cur_text')
                h1 С#
                p Не пройдено
            +progress-bar(0, (0 >= 1) ? "#23B45D" : "#F3EB0C")
        div
            img(src='/logo-js.png')
            div(class='cur_text')
                h1 JS
                p Пройдено на #{0.35 * 100}%
            +progress-bar(0.35, (0.35 >= 1) ? "#23B45D" : "#F3EB0C")
        div
            img(src='/logo-php.png')
            div(class='cur_text')
                h1 PHP
                p Пройдено на #{1 * 100}%
            +progress-bar(1, (1 >= 1) ? "#23B45D" : "#F3EB0C")
    details
        summary Настройки аккаунта
        hr
        div
            form(
                action="/user"
                method="GET"
            )
                label Имя
                input(type="text" placeholder=user.login)
                label Статус
                input(type="text" placeholder=user.status)
                label E-mail
                input(type="email" placeholder=user.email)
                input(type="submit" id="spo_sub" value='Способ оплаты')
            div
                img(src=user.avatar)
                button Загрузить...